.capa{
    width: 40%;
    margin: 5% auto;
    display: flex;
    flex-flow: column;
    justify-content: center;
    align-items: center;
}
.capa > h2{
    font-size: 2em;
    font-weight: lighter;
    color:#9D2B4A;
}

.capa > hr {
    width: 100%
}

.capa > p{
    text-align: center
}
@media screen and (max-width: 480px){
    .capa{
        width: 80%;
    }
}