.works > h2 {
    font-size: 3.2em;
    font-weight: lighter;
    margin-top: 10%;
    margin-left: 10%;
    line-height: 0.2;
    color: rgba(0,0,0,0.8)
}
.left_work > .work, .right_work > .work{
    background-repeat: no-repeat !important;
    background-size: contain !important;
    display: flex;
    flex-flow: column;
    justify-content: flex-end;
}
.left_work > .work > div, .right_work > .work > div{
    text-align: right;
    height: 20%;
    background: linear-gradient(to bottom, rgba(0,0,0,0) 12%, rgba(0,0,0,1));
    color: white;
    font-size: 2.2em;
    padding: 0 4%;
}
.works > h2 > span {
    color: #9D2B4A;
}

.work_display{
    display: flex;
}

.view_more{
    height: 60px;
    width: 217px;
    margin: 0 calc(50% - 105px);
    margin-bottom: 6%;
    border: 2px solid rgba(0,0,0,0.6);
    background: white;
    font-size: 1.2em;
}
@media screen and (max-width: 480px){
    .work_display{
        flex-flow: column;
    }
    .left_work{
        width: 100% !important;
    }
    .work{
        height: 16em !important;
        margin-top: 5% !important;
    }
    .right_work{
        display: none !important;
    }
    .works > h2{
        width: 80%;
        margin-left: 6%;
        font-size: 1.7em;
    }
}