.culture{
    display: flex;
    padding: 3% 5%;
}
.culture h2{
    font-size: 2.3em;
    font-weight: lighter;
    color: #9D2B4A;
}
.culture p{
    font-size: 1.2em;
    font-weight: lighter
}
.approach > .right_app{
    width: 30%;
    background-color: #d5d5d5
}
.approach > .left_app{
    flex-grow: 1;
}
.approach{
    display: flex;
    background-color: #F6F6F6;
}
.right_app > span {
    display: none;
}
.left_app{
    padding: 5em;
    box-sizing: border-box;
}
.left_app > .apps > .app{
    width: 30%;
    margin: 2.6em 0em;
    box-sizing: border-box;
    padding: 2em;
}
.left_app > .apps {
    display: flex;
    flex-wrap: wrap;
}
.left_app > .apps > .app > img{
    height: 3.5em
}

.left_app > h2{
    color: #9D2B4A;
    font-size: 2.7em;
    margin: 0;
    font-weight: lighter;
}
.team_section{
    margin: 7% 2%;
    display: flex;
    flex-flow: column;
    justify-content: space-around;
    align-items: center;
}
.team_section > h2{
    font-size: 2.3em;
    font-weight: lighter;
    color: #9D2B4A;
}
.teams{
    display: flex;
    justify-content: space-around;
    width: 100%;
}
.team{
    height: 32em;
    display: flex;
    flex-flow: column;
    width: 21%;
}
.team_img{
    flex-grow:1;
    background-color: #d5d5d5
}
.team_text{
    height: 20%;
    border-top: 8px solid #9D2B4A;
    background-color: #000;
    color: #fff;
    text-align: left;
    padding: 6%;
    box-sizing: border-box;
}

@media screen and (max-width: 480px){
    .culture{
        flex-flow: column;
    }
    .culture p{
        font-size: 1em;
    }
    .approach{
        flex-flow: column;
    }
    .approach > .right_app{
        height: 7em;
        order: 1;
        width: 100%;
    }
    .approach > .left_app{
        order: 2;
    }
    .left_app{
        padding: 0;
    }
    .left_app > h2{
        display: none;
    }
    .right_app{
        display: flex;
        align-items: center;
    }
    .right_app > span {
        display: block;
        color: #fff;
        font-size: 1.5em;
        font-weight: lighter;
        display: flex;
        align-items: center;
        margin-left: 2%
    }
    .left_app > .apps > .app{
        padding: 1em;
        font-size: 0.9em;
        width: 50%;
        margin: 1em 0;
    }
    .teams {
        flex-wrap: wrap;
    }
    .team{
        height: 22em;
        width: 45%;
        margin: 2%;
    }
    .team > .team_text{
        margin-bottom: 5%;
    }
}